# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

**Objectives:**
- List popular languages for Data Science
- List Commonly used libraries used by Data Scientists
- Create Table
- Perform arithmetic expressions with codes

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Java

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Matplotlib
3. pandas
4. TensorFlow

| Data Science Tools |
| - |
| Jupyter Notebook |
| RStudio |
| Visual Studio |

### Below are a few examples of evaluating arithmetic expressions in Python

This is a simple arithmetic expression to multiply then add integers

In [21]:
(3*4)+5

17

This will convert 200 minutes to hours by dividing by 60

In [23]:
(200/60)

3.3333333333333335

## Author
Matthew Niland